<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.admin.mapper.AdminMapper">
    <resultMap id="BaseResultMap" type="com.zjf.demo.admin.Admin">
        <id column="admin_id" jdbcType="INTEGER" property="adminId"/>
        <result column="login_name" jdbcType="VARCHAR" property="loginName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="admin_name" jdbcType="VARCHAR" property="adminName"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="desc" jdbcType="VARCHAR" property="desc"/>
    </resultMap>

    <insert id="addAdmin" parameterType="com.zjf.demo.admin.Admin">
        insert into tb_admin
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="adminId != null">
                admin_id,
            </if>
            <if test="loginName != null">
                login_name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="adminName != null">
                admin_name,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="telephone != null">
                telephone,
            </if>
            <if test="desc != null">
                desc,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="adminId != null">
                #{adminId,jdbcType=INTEGER},
            </if>
            <if test="loginName != null">
                #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="adminName != null">
                #{adminName,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="desc != null">
                #{desc,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <delete id="deleteAdmin" parameterType="java.lang.Integer">
        DELETE FROM tb_admin
        WHERE admin_id = #{adminId,jdbcType=INTEGER}
    </delete>

    <update id="editAdmin" parameterType="com.zjf.demo.admin.Admin">
        update tb_admin
        <set>
            <if test="loginName != null">
                login_name = #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="adminName != null">
                admin_name = #{adminName,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                telephone = #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="desc != null">
                desc = #{desc,jdbcType=VARCHAR},
            </if>
        </set>
        where admin_id = #{adminId,jdbcType=INTEGER}
    </update>

    <select id="findAdmins" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_admin
        where admin_id = #{adminId,jdbcType=INTEGER}
    </select>




</mapper>